body {
    font-family: Inter, sans-serif;
    background-color: #222;
    color: #fff;
}
.header {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.header img {
    display: block;
    margin: 0 auto;
}

.datebox {
    font-weight: bold;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 20px;
}
.menu {
    background-color: #555;
    overflow: hidden;
}
.menu a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu a:hover {
    background-color: #777;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.media-links {
    display: flex;
}

.media-link-button {
    background-color: #49d369;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.media-link-button:hover {
    background-color: #32964a;
}

.media-link-icon {
    margin-right: 10px;
}

.right-content {
    flex: 1; /* Allow the right content to take up remaining space */
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
}

.right-content img{
    width: 50px;
}

img {
    width: 176px;
    height: auto;
}
/* Featured boxes */
.featured-box {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #333;
    border-radius: 20px;
    color: #fff;
    padding: 20px;
    margin: 10px;
    align-items: center;
    position: relative;
}

.featured-box a {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}

.featured-box img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.featured-box .box-content {
    flex: 1;
    display: flex;
    flex-direction: column; /* Arrange title and description in a column */
}

.featured-box h3 {
    font-size: 18px;
    margin: 0;
}

.featured-box p {
    font-size: 14px;
}
.vbox {
    display: flex;
    justify-content: space-between;
}

.vbox > div {
    width: 50%;
    padding: 20px;
}

.box-content {
    text-align: center;
}
.filler-div {
    height: 135px;
}
